/* html,body{
    padding:0;
    margin: 0;
    overflow-x: hidden;
    width: 100px;
}  */

.intro-img{
    width: 100%;
    background: url("../../assets/background2.jpg");
    background-size: cover;
    padding: 220px 0 170px 50px;

}


@media (max-width: 900px) {

.intro-img{
    width: 100%;
    padding: 130px 0 60px 45px;
    }
}

@media (max-width: 700px) {
.intro-img{
    width: 100%;
    padding: 100px 0 50px 40px;
        }
    }
    

@media (max-width: 500px) {
    .intro-img{
        width: 100%;
        padding: 90px 0 40px 30px;
        }
    }


    
@media (max-width: 359px) {
    .intro-img{
        width: 100%;
        padding: 70px 0 30px 25px;
        }
    }

.btn-get-started,.btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.1s;
    margin: 0 20px 20px 0;
    color: #007bff;
}

.btn-get-started {
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
  }

  .btn-get-started:hover {
    background: none;
    border-color:#007bff;
    color: #007bff;
    text-decoration: none;
  }

.intro-info .btn-services {
    border: 2px solid #007bff;;
  }
  
 .intro-info .btn-services:hover {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
    text-decoration: none;
  }


.container{
    width:100%;
}

.img3{
    width:100%;
    height: 100%;
  
} 

 .img1{
    width: 70%;
    height: 80%;
     padding-left: 130px; 
    padding-top: 40px; 
    /* float: right; */
} 

.img2{
    width: 100px;
    height: 100px;
}

.t{
    padding-left: 100px;
    padding-right: 100px;  
    padding-top: 70px;  
    text-align: center;
}

.card:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
     transform: scale(1.05);  
     /* transition: 0.5s ease;  */
}


.container1{
    /* padding:0px; */
    width:100%;
    /* margin-right: 0px; */
    left: 0px;
    position: relative;
    display: flex;
    flex-flow: wrap;
    
    /* height: 200px; */
    justify-content: flex-start;
    /* align-content: center; */
    background-color: aquamarine;
    
}

.container>div{
/* width:50%; */
/* margin: 2px; */
/* width: 32%; */
flex-shrink: 0;
}

.mt{
    margin-top: 40px;
}

/* .img5{
    width: 210px;
    height: 175px;
} */

ul{ list-style-type: none; }

.footer{
    background-color: #D3D3D3;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
}

.cen{
    /* position:absolute; */
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    align-content: center;
    display: inline;
    margin-left: 50px;
}

.social-menu ul{
    position: relative;
    top:50%;
    left: -15%;
    margin-top: 40px;
    display:flex;
}

.social-menu ul li{
    margin: 0 15px;
} 

.social-menu ul li .fa{
    font-size: 25px;
    line-height: 40px;
    color: white;
    transition: 0.1s;
}


.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4F4F4F;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 4px black;
}

.social-menu ul li a:hover{
transform:translate(0,-10px);

}

.social-menu ul li .fa:hover{
    color:white;
}
.social-menu ul li:nth-child(1) a:hover{
background-color: #3b5999;

}


.social-menu ul li:nth-child(2) a:hover{
    background-color: #55acee;
    
}

.social-menu ul li:nth-child(3) a:hover{
    background-color: #cd201f;
}

.social-menu ul li:nth-child(4) a:hover{
    background-color: #25D366;
}


.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column{
    flex:25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    margin-right: 8px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width:700px){
    .column{
        flex:50%;
    }
  }

  .p1{
      width: 250px;
      height: 250px;
      border-radius: 90%;
      margin:10px;
  }

  .p1:hover {
      opacity: 0.5;
  }